/actividad1a.txt
/actividad2a.txt
/actividad2a_1.txt
/actividad2a_10.txt
/actividad2a_11.txt
/actividad2a_2.txt
/actividad2a_3.txt
/actividad2a_9.txt
/actividadb1.txt
/actividad_b1_12.txt
/actividad_b1_6.txt
/actividad_b1_88.txt
/actividad_b1_9.txt
/prueba.txt
/TEL280_IP_LAB4_20181454.docx
/TEL280_IP_LAB4_20181454.pdf    
/TEL280_LAB4_GUIA_2021-2.docx
/TEL280_LAB4_GUIA_2021-2.pdf